<h1>Adicionar Bebida</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bebida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Informacoes', group %></td>
        <td><%= link_to 'Editar', edit_group_path(group) %></td>
        <td><%= link_to 'Excluir', group, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Bebida', new_group_path %>