<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @item.group.name %>
</p>

<p>
  <strong>Teor alcoolico:</strong>
  <%= @item.Teor_alcoolico %>%
</p>

<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Voltar', items_path %>
